<ion-content>
  <ion-list lines="none">
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
    
    <ion-item>
      <ion-input [(ngModel)]="visor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-fab-button class="operacao2">
        AC
      </ion-fab-button>

      <ion-fab-button class="operacao2">
        +/-
      </ion-fab-button>

      <ion-fab-button class="operacao2"> 
        %
      </ion-fab-button>

      <ion-fab-button class="operacao">
        DIV
      </ion-fab-button>
    </ion-item>
    <ion-item>
      <ion-fab-button>
        7
      </ion-fab-button>

      <ion-fab-button>
        8
      </ion-fab-button>

      <ion-fab-button>
        9
      </ion-fab-button>

      <ion-fab-button class="operacao">
        x
      </ion-fab-button>
    </ion-item>

    <ion-item>
    <ion-fab-button>
      4
    </ion-fab-button>

    <ion-fab-button>
      5
    </ion-fab-button>

    <ion-fab-button>
      6
    </ion-fab-button>

    <ion-fab-button class="operacao">
      -
    </ion-fab-button>
    </ion-item>

    <ion-item>
      <ion-fab-button>
        1
      </ion-fab-button>

      <ion-fab-button>
        2
      </ion-fab-button>

      <ion-fab-button>
        3
      </ion-fab-button>

      <ion-fab-button class="operacao">
        +
      </ion-fab-button>
    </ion-item>

    <ion-item>
      <ion-fab-button id="zero">
        0
      </ion-fab-button>

      <ion-fab-button>
        ,
      </ion-fab-button>

      <ion-fab-button>
        =
      </ion-fab-button>
    </ion-item>
  </ion-list>

</ion-content>